/output
/pages/tmp0000.html
/qa
/temp
/template
.DS_Store
.idea/
input-cache/*
!/input-cache/txcache
bundles/plandefinition/OpioidCDSREC01/*
bundles/plandefinition/OpioidCDSREC02/*
bundles/plandefinition/OpioidCDSREC03/*
bundles/plandefinition/OpioidCDSREC04/*
bundles/plandefinition/OpioidCDSREC04PatientView/*
bundles/plandefinition/OpioidCDSREC05/*
bundles/plandefinition/OpioidCDSREC06/*
bundles/plandefinition/OpioidCDSREC07/*
bundles/plandefinition/OpioidCDSREC08/*
bundles/plandefinition/OpioidCDSREC09/*
bundles/plandefinition/OpioidCDSREC10/*
bundles/plandefinition/OpioidCDSREC10PatientView/*
bundles/plandefinition/OpioidCDSREC11/*
bundles/plandefinition/OpioidCDSREC11PatientView/*
bundles/plandefinition/OpioidCDSREC12PatientView/*
