<h4>Opioid Review Useful</h4>
<img src="assets/images/Subroutine-OpioidReviewUseful.png" style="max-width: 790px;" />
<table class="list" style="margin-top: 2em; margin-bottom: 2em">
  <thead>
    <tr><th>Definition</th><th>Expression</th><th>Data (Terminology) Requirement</th></tr>
  </thead>
  <tbody>
    <tr><td>Age &lt; 18 years</td><td>Exclude patients with age less than 18 years</td><td></td></tr>
    <tr><td>Conditions indicating end of life present</td><td>Limited life expectancy value set diagnosis exists in <i>active</i> state</td><td>Limited life expectancy value set</td></tr>
    <tr><td>Order for palliative care in past 90 days</td><td>Existing order for value set for palliative care procedures written within past 90 days</td><td>Palliative care procedures</td></tr>
    <tr>
      <td>Conditions including cancer to exclude opioid management indicating end-stage disease present</td>
      <td>End-stage disease conditions including cancer value set content present in diagnoses in active state. This item is configurable and can address a broader set of conditions or, alternatively, a more constrained set of conditions.</td>
      <td>Conditions, including cancer, indicating end-stage disease present:
        <ul>
          <li>Broader set</li>
          <li>More constrained set</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% include active-cancer-treatment-definitions.html %}
