<h4>Opioid Naive</h4>
<img src="assets/images/Subroutine-OpioidNaive.png"/>
<table class="list" style="margin-top: 2em; margin-bottom: 2em">
  <thead>
    <tr><th>Definition</th><th>Expression</th><th>Data (Terminology) Requirement</th></tr>
  </thead>
  <tbody>
    <tr><td>Opioid with ambulatory care abuse potential prescription found in past 90 days including today</td><td>Existing order (prescription) for opioid with ambulatory use potential authored within the past 90 days (including today)</td><td>Opioids with ambulatory use potential</td></tr>
    <tr><td>Opioid with ambulatory use potential reporting in past 90 days including today</td><td>Evidence of active medication on the medication list that is in the value set for opioid with ambulatory care abuse potential</td><td>Opioids with ambulatory use potential [Note – orders may be able to use RxNorm, but medication lists and dispensed medication will require an NDC value set and/or local mapping of NDC to RxNorm to enable this element]</td></tr>
    <tr><td>Opioid with ambulatory abuse potential dispensing event found in past 90 days including today</td><td>Dispensing event for opioid with ambulatory use potential occurring within the past 90 days (including today)</td><td>Opioids with ambulatory use potential [Note – orders may be able to use RxNorm, but medication lists and dispensed medication will require an NDC value set and/or local mapping of NDC to RxNorm to enable this element]</td></tr>
  </tbody>
</table>
