<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Active order for opioid analgesics with ambulatory misuse potential</td>
    <td>Yes</td>
    <td>Review active medication orders for opioid analgesics with ambulatory misuse potential</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest">MedicationRequest</a>
    </td>
    <td>
      MedicationRequest.medication, and MedicationRequest.category
    </td>
  </tr>
  <tr>
    <td>Active order for benzodiazepine medication or other central nervous system depressant?</td>
    <td>Yes</td>
    <td>Review active medication orders for benzodiazepine and other central nervous system depressant medications</td>
    <td>Benzodiazepine or other central nervous system depressant medications</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest">MedicationRequest</a>
    </td>
    <td>
      MedicationRequest.medication, and MedicationRequest.category
    </td>
  </tr>
</table>
<p> </p>
<a href="PlanDefinition-opioidcds-11-patient-view.html#effective-data-requirements">Effective Data Requirements</a>
