<ul>
  <li>When</li>
    <ul>
      <li>Order for opioid analgesics with ambulatory misuse potential:</li>
      <li>CDC 2022 guideline general inclusion criteria met for this patient:</li>
      {% include general-inclusion-criteria-functional-description.html %}
      <li>Patient is not currently prescribed naloxone medications</li>
      <li>Factors that increase risk for opioid therapy are present:</li>
      {% include opioid-related-harms-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>Incorporate Risk Mitigation Strategies Into Opioid Therapy:</li>
      <ul>
        <li>Order - Order naxalone</a></li>
        <li>Document - Risk mitigation strategy implemented, snooze 3 months</li>
        <li>Snooze - N/A see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>

