<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-subacute-or-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Opioid risk - benefit assessment procedure not performed in last 90 days?</td>
    <td>Yes</td>
    <td>Absence of an opioid treatment assessment procedure in the last 90 days</td>
    <td>Opioid treatment assessment procedure</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure">Procedure</a>
    </td>
    <td>
      Procedure.code, and Procedure.performed
    </td>
  </tr>
</table>
<p> </p>
<a href="PlanDefinition-opioidcds-07.html#effective-data-requirements">Effective Data Requirements</a>