<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-subacute-or-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Non-opioid drug urine screen test not performed within the last 12 months</td>
    <td>Yes</td>
    <td>No urine screening test performed within the last 12 months</td>
    <td>Non-opioid drug urine screen</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.effective[x]">Observation.effective</a>, and
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.status">Observation.status</a>
    </td>
  </tr>
  <tr>
    <td>Opioid drug urine screen test not performed within the last 12 months?</td>
    <td>Yes</td>
    <td>No opioid drug urine screening test performed within the last 12 months</td>
    <td>Opioid drug urine screen</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.effective[x]">Observation.effective</a>, and
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.status">Observation.status</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain cocaine?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains cocaine</td>
    <td>Cocaine urine toxicology test result</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, and 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain phencyclidine (PCP)?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains phencyclidine (PCP)</td>
    <td>Phencyclidine (PCP) urine toxicology test result</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, and 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain amphetamine and no active amphetamine medication?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains amphetamine and patient does not have an active prescription for amphetamine</td>
    <td>Amphetamine urine toxicology test result <br />Amphetamine medication</td>
    <td>
      Note: TBD, did not find this exact definition in CQL. 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.status">MedicationRequest.status</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.authoredOn">MedicationRequest.authoredOn</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain opiate and no active opiate medication?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains opiate and patient does not have an active prescription for opiate</td>
    <td>Opiate urine toxicology test result <br />Opiate medication</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.status">MedicationRequest.status</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.authoredOn">MedicationRequest.authoredOn</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain methadone and no active methadone medication?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains methadone and patient does not have an active prescription for methadone</td>
    <td>Methadone urine toxicology test result <br />Methadone medication</td>
    <td>
      Note: TBD, did not find this exact definition in CQL. 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.status">MedicationRequest.status</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.authoredOn">MedicationRequest.authoredOn</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain synthetic opioid and no active synthetic opioid medication?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains synthetic opioid and patient does not have an active prescription for synthetic opioid</td>
    <td>Synthetic opioid urine toxicology test  result <br />Synthetic opioid medication</td>
    <td>
      Note: TBD, did not find this exact definition in CQL. 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.status">MedicationRequest.status</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.authoredOn">MedicationRequest.authoredOn</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain fentanyl and no active fentanyl medication?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains fentanyl and patient does not have an active prescription for fentanyl</td>
    <td>Fentanyl urine toxicology test result <br />Fentanyl medication</td>
    <td>
      Note: TBD, did not find this exact definition in CQL. 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.status">MedicationRequest.status</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.authoredOn">MedicationRequest.authoredOn</a>, 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>, and 
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain tetrahydrocannabinol (THC)?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains tetrahydrocannabinol (THC)</td>
    <td>Tetrahydrocannabinol urine toxicology test result</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, and 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>
    </td>
  </tr>
  <tr>
    <td>Urine drug screen results contain alcohol?</td>
    <td>Yes</td>
    <td>Urine drug screen result contains alcohol</td>
    <td>Alcohol urine toxicology test result</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab.html">Laboratory Result Observation (US Core)</a>
    </td>
    <td>
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.category">Observation.category</a>,  
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.code">Observation.code</a>, and 
      <a href="http://hl7.org/fhir/us/core/STU5.0.1/StructureDefinition-us-core-observation-lab-definitions.html#Observation.value[x]">Observation.value</a>
    </td>
  </tr>
</table>
