<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Is this order for extended-release opioid analgesics with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Look for a new prescription for extended release opioids. [Ideally the order should be selected prior to being committed to the system]</td>
    <td>Extended-release opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="http://fhir.org/guides/cdc/opioid-cds/StructureDefinition/cdc-medicationrequest">CDC MedicationRequest</a>
    </td>
    <td>
      <a href="https://hl7.org/fhir/R4/medicationrequest-definitions.html#MedicationRequest.medication_x_">MedicationRequest.medication</a>
    </td>
  </tr>
  {% include data-elements-opioid-review-useful.html %}
  {% include data-elements-opioid-naive.html %}
</table>
