<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>There exists an active opioid analgesic with ambulatory misuse potential order in the outpatient setting</td>
    <td>Yes</td>
    <td>Order for opioid analgesics with ambulatory misuse potential</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest">MedicationRequest</a>
    </td>
    <td>
      MedicationRequest.medication, and MedicationRequest.category
    </td>
  </tr>
  {% include data-elements-subacute-or-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  {% include data-elements-urine-toxicology-past-year.html %}
  {% include data-elements-possible-unexpected-results.html %}
</table>
<p> </p>
<a href="PlanDefinition-opioidcds-10-patient-view.html#effective-data-requirements">Effective Data Requirements</a>
