<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Order for opioid analgesics with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Trigger based on an existing prescription (order) for opioid analgesics with ambulatory misuse potential - ideally the
      prescription should be selected prior to being committed to the system</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
  <tr>
    <td>Order for benzodiazepine or other central nervous system depressant medications?</td>
    <td>Yes</td>
    <td>Trigger based on an existing prescription (order) for opioids or benzodiazepines  or other central nervous system depressant in the relevant value sets - ideally the
      prescription should be selected prior to being committed to the system</td>
    <td>Benzodiazepine or other central nervous system depressant medications</td>
  </tr>
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Receiving both opioid with ambulatory use potential and benzodiazepine or other central nervous system depressant ?</td>
    <td>Yes</td>
    <td>An existing prescription is for an opioid and existing use of benzodiazepine  or other central nervous system depressant evident, OR
      An existing prescription is for benzodiazepine  or other central nervous system depressant and existing use of opioids evident</td>
    <td>Opioid analgesics with ambulatory misuse potential <br />Benzodiazepine  or other central nervous system depressant medications</td>
  </tr>
</table>
