<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Active order for opioid analgesics with ambulatory misuse potential</td>
    <td>Yes</td>
    <td>Review active medication orders for opioid analgesics with ambulatory misuse potential</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.category">MedicationRequest.category</a>
    </td>
  </tr>
  <tr>
    <td>Active order for benzodiazepine medication or other central nervous system depressant?</td>
    <td>Yes</td>
    <td>Review active medication orders for benzodiazepine and other central nervous system depressant medications</td>
    <td>Benzodiazepine or other central nervous system depressant medications</td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest (CDC)</a>
    </td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.medication[x]">MedicationRequest.medication</a>
      <a href="StructureDefinition-cdc-medicationrequest-definitions.html#MedicationRequest.category">MedicationRequest.category</a>
    </td>
  </tr>
</table>
