<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      <li>PDMP not reviewed in past 90 days (neither of the following are true):</li>
      {% include pdmp-review-past-90-days-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>Before Ordering Opioids, Review PDMP Data:</li>
      <ul>
        <li>Access Data - Launch app to review PDMP data</li>
        <li>Document - PDMP data reviewed, snooze 3 months</li>
        <li>Snooze - N/A see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
