<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid with ambulatory misuse potential in the outpatient setting</li>
      {% include subacute-and-chronic-pain-definition.html %}
      <li>CDC 2022 guideline general inclusion criteria met for this patient:</li>
      {% include general-inclusion-criteria-functional-description.html %}
      <li>Patient is opioid naive:</li>
      {% include opioid-naive-functional-description.html %}
      <li>Pain management procedure in past 90 days is not present and</li>
      <li>Pain treatment plan created, edited, or reviewed by the prescribing physician in past 90 days is not present</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Maximize Nonopioid Therapies as Appropriate:</li>
      <ul>
        <li>Document - Collaborated with patient to identify treatment goals</li>
        <li>Snooze - Attempting alternate therapy, snooze 3 months</li>
        <li>Order - Select alternative therapies from order select</li>
        <li>Snooze - N/A see comment, snooze 3 months</li>
        <li>Remove - Will remove triggering medication order</li>
      </ul>
    </ul>
</ul>
