<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
        {% include acute-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient is opioid naive:</li>
        {% include opioid-naive-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>Consider Nonopioid Treatment Options for Acute Pain:</li>
      <ul>
        <li>Document - Record reason for opioid therapy</li>
        <li>Snooze - Attempt alternative therapy, snooze 3 months</li>
        <li>Order - Select alternative therapies from order set</li>
        <li>Snooze - N/A see comment, snooze 3 months</li>
        <li>Remove - Will remove triggering medication order</li>
      </ul>
    </ul>
</ul>
