<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an extended release opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient is opioid naive:</li>
        {% include opioid-naive-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>When Initiating Opioid Therapy, Utilize Immediate Release Opioids:</li>
      <ul>
        <li>Document - Will prescribe immediate release opioid</li>
        <li>Snooze - Benefits outweigh risks, snooze 3 months</li>
        <li>Snooze - N/A see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
