<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Order for opioid analgesics with with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Trigger based on a new prescription (order) for opioids in the relevant value set - ideally the prescription should be selected prior to being committed to the system</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest</a>
    </td>
    <td>
      MedicationRequest.medication, and MedicationRequest.category
    </td>
  </tr>
  {% include data-elements-acute-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Order for opioid analgesics with ambulatory misuse potential for &gt; 7 days?</td>
    <td>Yes</td>
    <td>Determine if the new prescription (order) has an intended duration of &gt; 7 days</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
    <td>
      <a href="StructureDefinition-cdc-medicationrequest.html">MedicationRequest</a>
    </td>
    <td>
      MedicationRequest.medication, and MedicationRequest.dispenseRequest.expectedSupplyDuration
    </td>
  </tr>
</table>
<p> </p>
<a href="PlanDefinition-opioidcds-06.html#effective-data-requirements">Effective Data Requirements</a>
